<div class="container">
  <div class="row p-4">
    <div class="col-3">
      <h4>
        <strong>投稿</strong>
      </h4>
    </div>
  </div>
  <%= form_with model: @post, url: posts_path do |f| %>
  <!-- 投稿作成 -->
  <table class="col-5">
    <tbody>
      <tr>
        <td class="col-3">テキスト</td>
        <td class="col-3"><%= f.text_area :body, class: 'form-control',size: "20x10" %></td>
      </tr>
      <tr>
        <td class="col-3">画像</td>
        <td class="col-3 p-3"><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td class="col-3"></td>
        <td class="col-3 p-3"><%= f.submit "投稿", class:"btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
    <%= link_to :back do %>
      <button>戻る</button>
    <% end %>
  <% end %>
</div>