<div class="container p-4">
  <div class="row">
    <h3 class="text-center">無料で新規登録して投稿してみましょう！</h3>
  </div>
  <div class="row p-4">
    <h4>
      <strong>投稿一覧</strong>
    </h4>
  </div>
    <% @posts.each do |post| %>
  <div class="container border">
    <div class="row pt-3">
      <div class="col">
        <% if post.user.image.attached? %>
        <!-- ユーザーに画像がある場合 -->
          <%= image_tag post.user.image, size: "100x100" %>
        <% else %>
        <!-- ユーザーに画像がない場合 -->
          <%= image_tag "no_image.jpg", size: "100x100" %>
        <% end %>
        <%= post.user.nickname %>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <!-- テキスト -->
        <%= post.body %>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col">
        <% if post.image.attached? %>
        <!-- 画像を投稿する場合-->
          <%= image_tag post.image, size: "200x200" %>
        <% else %>
        <!-- 画像を投稿しない場合-->
          <td></td>
        <% end %>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col">
        <!-- 投稿日 -->
        <%= post.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
  </div>
    <% end %>
</div>