<% if user_signed_in? %>
  <!-- ユーザーでログインしている場合-->
  <ul class="navbar-nav ml-auto">
    <li>
      <%= render 'layouts/search' %>
    </li>
    <li>
      <%= link_to notifications_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fa-solid fa-bell"></i>通知
      <% end %>
    </li>
    <li>
      <%= link_to user_path(current_user), class:"btn btn-outline-dark mr-3" do %>
        <i class="fa-solid fa-user"></i>プロフィール
      <% end %>
    </li>
    <li>
      <%= link_to posts_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fa-solid fa-house"></i>投稿一覧
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path , method: :delete, class:"btn btn-outline-dark" do %>
        <i class="fas fa-sign-out-alt"></i>ログアウト
      <% end %>
    </li>
  </ul>
<% elsif !admin_signed_in? %>
  <!-- ユーザーでログインしていない場合-->
  <ul class="navbar-nav ml-auto">
    <li>
      <%= link_to about_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fas fa-link"></i>概要
      <% end %>
    </li>
    <li>
      <%= link_to posts_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fa-solid fa-house"></i>投稿一覧
      <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fas fa-user-plus"></i>新規登録
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path, class:"btn btn-outline-dark" do %>
        <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %>
    </li>
  </ul>
<% end %>