<!DOCTYPE html>
<html>
  <head>
    <title>Riders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f2a363fe33.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark p-4">
        <div class="container">
          <h2>Riders</h2>
          <h3 class="fa-solid fa-motorcycle"></h3>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <%= render 'layouts/admin_header' %>
            <%= render 'layouts/user_header' %>
          </div>
        </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
